
body {
    background-color: rgba(0, 187, 255, 0.163);
    width: 100%;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); esto es sombra simple para el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 2px rgba(83, 170, 54, 0.751);
    background-color: rgba(85, 85, 85, 0.251);
    width: 75%;
    margin: 2rem auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.p1 {
    text-align: center;
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 12px;
    background-color: rgba(187, 187, 187, 0.251);
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 65%;
    margin: auto;
}
.hr1{
    width: 80%;
    margin-top: 1rem;
}
.hr2 {
    width: 80%;
}

/* toda la barra lateral con su contenido */

/* sidebar de la galeria simple */
.sidebar {
    width: 250px;
    /* height: 100vh; Ocupa toda la altura de la ventana */
    background-color: rgba(187, 187, 187, 0.251);
    margin-left: 0;
    position: fixed; /* Se queda fija al hacer scroll */
    top: 400px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color: black;
    display: block;
    /* esto es un tiempo de transicion para el hover */
    transition: 0.3s; 
    /* fin */
}
.sidebar a:hover {
    background-color: #5757577d;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
/* sidebar de la galeria modal */
.sidebar2 {
    width: 250px;
    /* height: 100vh; Ocupa toda la altura de la ventana */
    background-color: rgba(187, 187, 187, 0.251);
    margin-left: 0;
    position: fixed; /* Se queda fija al hacer scroll */
    top: 210px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.sidebar2 a {
    padding: 15px 20px;
    text-decoration: none;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
    color: black;
    display: block;
    transition: 0.3s;
}
.sidebar2 a:hover {
    background-color: #5757577d;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
/* fin de toda la sidebar */

/* esto es todo para conseguir que las imagenes esten alineadas y contenidas en sus respectivos contenedores */
.display {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 600px) {
    .display {
        width: auto;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
    }
    .principal {
        width: 100%;
        margin: 0;
    }
    body {
        width: 100%;
        margin: 0;
    }
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .ajuste-img {
        width: 100%;
    }
    .imagenes {
        width: 100%;
    }
}
.principal {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    
}
.imagen-principal {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}
.container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 80%;
   margin: 0 auto;
   gap: 12pxs;
}
.imagenes{
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    border-radius: 12px;
}
.ajuste-img {
    width: 19%;
}
/* fin */

/* animacion de aumento de la imagen en hover */
.imagenes:hover {
    animation-name: hover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes hover {
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}
/* fin */

/* estilos de la ventana modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.modal-image {
    max-width: 90%;
    max-height: 90%;
}
.close {
    color: antiquewhite;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    right: 35px;
    top: 15px;
    cursor: pointer;
}
/* fin */

/* este footer es para la pagina de la ventana modal */
.footer { 
    /* esto es para meter el footer al final de la pagina independientemente del contenido de la pagina */
    position: absolute;
    bottom: 0;
    /* fin */
    text-align: center;
    font-size: 12px;
    background-color: rgba(187, 187, 187, 0.251);
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
}
/* este footer es para la pagina de la galeria simple */
.footer-prima {
    text-align: center;
    font-size: 12px;
    background-color: rgba(187, 187, 187, 0.251);
    width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 1rem;
    margin-top: 1rem;
    padding: 1px;
}
