
body {
    background-color: rgb(232, 232, 232);
    width: 90%;
    margin: 0 auto;
}


h1 {
    text-align: center;
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); esto es sombra simple para el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
    -2px -2px 2px rgba(83, 170, 54, 0.751);
    background-color: rgba(85, 85, 85, 0.251);
    width: 75%;
    margin: 2rem auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}


/* esto es todo para conseguir que las imagenes esten alineadas y contenidas en sus respectivos contenedores */
.display {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
@media (max-width: 600px) {
    .display {
        width: auto;
        margin: 0;
    }
    .principal {
        width: 100%;
        margin: 0;
    }
    body {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .ajuste-img {
        width: 100%;
    }
    .imagenes {
        width: 100%;
    }
}
.principal {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    
}
.imagen-principal {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}
.container {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 80%;
   margin: 0 auto;
   gap: 12pxs;
}
.imagenes{
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    border-radius: 12px;
}
.ajuste-img {
    width: 19%;
}
/* fin */

/* animacion de aumento de la imagen en hover */
.imagenes:hover {
    animation-name: hover;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
@keyframes hover {
    from {transform: scale(1);}
    to {transform: scale(1.05);}
}
/* fin */



